@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&family=Raleway:ital,wght@1,600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Geologica:wght@200&family=Poppins:wght@300&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  user-select: none;
  margin: 0;
  padding: 0;
  /* background: url("../public/scheduleimg.jpg");*/
  background-color: #eafaf1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: Arial, sans-serif;
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 0;
}
.dat_list {
}
.container-month-year {
  display: flex;
  align-items: center;
  cursor: pointer;

  border-radius: 15px;
}
#year-selected {
  font-family: 'Kanit', sans-serif;
  font-size: 15px;
}
#month-selected {
  font-family: 'Kanit', sans-serif;
  font-size : 15px
}
.year-month {
  display: flex;
  width: fit-content;
  
}
.month-list {
  position: absolute;
  font-family: 'Kanit', sans-serif;
  padding: 0;
  list-style: none;
  background-color: #f5f5f5;
  margin-top: 32px;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  max-height: 200px;
  margin-right: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}
.month-list::-webkit-scrollbar {
  width: 1px;
}

.year-value,
.month-value {
  text-align: center;

  text-decoration: underline;
  padding: 10px;
  /*border: 1px solid red;*/
}
/*.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: right;
}*/
.how-many-ev-today {
  font-family: "Geologica", sans-serif;
  color: #080c16;
  font-size: 25px;
  font-weight: bolder;
  width: fit-content;
  margin: 0;
}
.hamburger {
  margin: 15px 18px;
  z-index: 2;
  width: fit-content;
  position: fixed;
  cursor: pointer;
  border-radius: 50%;
}

.date-string {
  width: fit-content;
}
.event {
  font-family: "Libre Franklin", sans-serif;
  margin: auto;
}
.style-event-page {
  margin: auto;
}
@media (min-width: 480px) {
  .event-elem-style {
    margin: auto;
  }
}
@media (max-width: 800px) {
  .style-event-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .event-elem-style {
    margin-top: 15px;
    max-width: 100%;
    overflow: scroll;
  }
  .container-month-year {
    margin-top: 3px;
  }
  .event {
    margin-block: 8px;
    padding: 13px;
  }
}

@media (min-width: 500px) {
  .style-event-page {
    width: 500px;
  }
  .event-elem-style {
    width: 370px;
  }
  .event {
    margin-block: 8px;
    padding: 13px;
  }
}

@media (max-width: 500px) {
  .year-month,
  .date-string,
  .how-many-ev-today {
    margin-right: auto;
    
  }
}
@media (min-width: 800px) {
  .style-event-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 820px;

    margin: 5% auto;
  }
  .event-elem-style {
    margin-top: 15px;
    max-width: 100%;
    overflow: scroll;
  }
  .year-month {
    margin-inline: 200px;
    
  }
}
.hamburger:hover,
.event:hover,
.day:hover {
  /*box-shadow: 0.1px 0.1px 10px 1px #ffffff;*/
  transform: scale(0.97);
  transition: 0.2s linear;
}
#hamblogo {
  transition: 0.5s ease;
}

.nav {
  /*background: linear-gradient(45deg, #000850 0%, #000320 100%),
    radial-gradient(100% 225% at 100% 0%, #ff6928 0%, #000000 100%),
    linear-gradient(225deg, #ff7a00 0%, #000000 100%),
    linear-gradient(
      135deg,
      #cdffeb 10%,
      #cdffeb 35%,
      #009f9d 35%,
      #009f9d 60%,
      #07456f 60%,
      #07456f 67%,
      #0f0a3c 67%,
      #0f0a3c 100%
    );
  background-blend-mode: screen, overlay, hard-light, normal;*/
  background: linear-gradient(
    288deg,
    #ffb6b9 0%,
    #ffb6b9 35%,
    #fae3d9 calc(35% + 1px),
    #fae3d9 45%,
    #bbded6 calc(45% + 1px),
    #bbded6 65%,
    #61c0bf calc(65% + 1px),
    #61c0bf 100%
  );
  box-shadow: 0.5px 0.5px 2px 2px gray;
  width: 0;
  position: absolute;
  top: 0;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}

.nav ul {
  list-style: none;
  padding: 65px 0;
  margin: 0;
}

.nav li {
  text-align: center;
  color: #333;
  cursor: pointer;
  padding-block: 10px;
  font-family: "Pacifico", cursive;
  margin-block: 20px;
  font-size: 35px;
  border-radius: 25px;
}
.nav li:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.rotateLogo {
  transform: rotate(540deg);
  transition: 0.5s ease-in-out;
}
.event {
  /*margin-block: 10px;
  margin-top: 20px;*/
  cursor: pointer;
  /*background-color: #7f53ac;*/
  background-image: linear-gradient(315deg, #00ad6a 0%, #1fe374 74%);
  background-color: #1fe374;
  text-align: center;
  /*opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease;
  display: flex;
  flex-direction: column;*/
  box-shadow: 0 0px 1px 1px lightgrey;
  border-radius: 20px;
}
.event h2 {
  font-size: 30px;
  color: #ffffff;
  font-family: "Libre Franklin", sans-serif;
}
.event h2 {
  margin: 0;
}
.event div span {
  font-family: "Edu SA Beginner", cursive;
}
.event_day {
  display: flex;
  align-items: center;

  overflow: auto;
}
.event_day::-webkit-scrollbar {
  height: 5px;
}
.event_day::-webkit-scrollbar-thumb {
  background-color: #0f0a3c;
}
.day {
  font-family:Helvetica;
  padding: 3px 20px;
  white-space: nowrap;
  margin-inline: 5px;
  border-radius: 20px;

  cursor: pointer;
}
h3 {
  color: darkred;
}
/*.show-div {
opacity: 0;
transform: translateY(20px);
transition: opacity 1s ease, transform 1s ease;
margin: 10px;
padding: 20px;
background-color: #f0f0f0;
border-radius: 8px;

}*/

.event span {
  margin-inline: 30px;
}
.event-desc-style {
  /*align-items: start;*/
  position: absolute;
  z-index: 0;
  margin: auto;
  border-radius: 25px;
  padding: 20px;
  height: fit-content;

  background-color: #ffffff;
  box-shadow: 0px 0px 1px 1px lightgray;
}

.event_desc {
  display: grid;
  grid-template: min-content min-content / repeat(2, 1fr);
  margin-block: 20px;
}

.event_desc div div {
  /*border : 1px solid black;*/
  display: flex;
  align-items: center;
}
.event_desc small {
  color: gray;
}
